body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    text-align: justify;
}

a {
    text-decoration: none;
}

header {
    background-color: rgb(21, 4, 98);
    padding: 10px;
}

nav {
    height: 100%;
    width: 0px;
    background-color: rgb(21, 4, 98);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    transition: width 0.3s;
}

nav a {
    color: white;
    font-size: 20px;
    display: block;
    padding: 12px 10px 12px 32px;
}
nav a.sub{
    font-size: 15px;
}
nav a:hover {
    color: rgb(21, 4, 98);
    background-color: white;
}

main {
    padding: 10px;
    transition: margin-left 0.5s;
}

.btn-abrir {
    color: white;
    font-size: 25px;
}

h1 {
    text-align: center;
    color: white;
}

h2 {
    font-size: xx-large;
}

h3 {
    font-style: italic;
}


.margin {
    margin-bottom: 10%;
}

img {
    width: 300px;
}

.tigre {
    width: 200px;
}

.itosu {
    width: 200px;
}

.karate {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.karate1 {
    display: flex;
    flex-direction: row-reverse;
}

fieldset {
    background-color: rgb(21, 4, 98);
}

figcaption {
    font-size: small;
    text-align: center;
}

.curiosidade {
    background-color: aliceblue;
}